body {
    text-align: justify;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

h1 {
    margin-top: 20px;
}

.consignes_box {
    display: flex;
    position: fixed;
    padding: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 700px;
    background-color: white;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
}

.consignes_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul li {
    margin-bottom: 10px;
}

.consignes_text button {
    align-self: flex-end;
    margin-bottom: 20px;
}