body {
    background-color: beige;
    background-image: url("https://www.neuronimbus.com/blog/wp-content/uploads/2021/08/The-Role-of-Artificial-Intelligence-in-Web-Development-Process-2.jpg");
    ;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;

}

.liens {
    background-color: black;
    margin-left: 50px;
    margin-right: 50px;
    opacity: 0.7;
    color: rgba(255, 255, 255, 1);
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    opacity: 0.7;
}

h4 {
    padding-top: 20px;
    padding-left: 40px;
}

.bush {
    padding-left: 100px;
    padding-top: 5px;
}

.berger {
    padding-left: 100px;
    padding-top: 5px;
}

.Poem {
    padding-left: 100px;
    padding-top: 5px;
}

.Animation {
    padding-left: 100px;
    padding-top: 5px;
}

.netart {
    padding-left: 100px;
    padding-top: 5px;
}

.button_assignment {
    padding-left: 100px;
    padding-top: 5px;
}

.final_project {
    padding-left: 100px;
    padding-top: 5px;
    padding-bottom: 20px;
}


a {
    color: white;
    text-decoration: dashed;
    text-align: center;
    font-size: large;
    padding: none;
}

a:hover {
    color: red;
}

footer {
    width: 38%;
    margin-left: 320px;
    margin-right: 120px;
    margin-top: 100px;
    height: 60px;
    display: flex;
    background-color: whitesmoke;
    flex-direction: row;
    justify-content: space-around;
    opacity: 0.7;
}