body {
    background-color: #9ac2ff;
}

h1 {
    color: White;
    text-align: center;
    padding-top: 50px;
}

.container {
    display: flex;
    width: 100%;
    background-color: #5499C7;
    border-image: url('border.png') 120 / 50px round;
    background: linear-gradient(0deg, #9ac2ff, #5499C7, #9ac2ff);
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: none;
    transition: all 5s ease-in-out;
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: 180px;
    gap: 20px;
    position: absolute;
}

#player {
    width: 80px;
    height: 80px;
    background-color: red;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out, background-color 0.2s ease-in-out;
    clip-path: ;
}

#player:hover {
    width: 120px;
    height: 120px;
}

#shapebutton {
    border-radius: 50%;
    height: 50px;
    width: 150px;
}

#shapebutton:hover {
    background-color: skyblue;
}

#shapebutton:active {
    border: 2px dashed red;
}

#colorbutton {
    border-radius: 50%;
    height: 50px;
    width: 150px;
}

#colorbutton:hover {
    background-color: skyblue;
}

#colorbutton:active {
    border: 2px dashed red;
}

#playbutton {
    border-radius: 30%;
    height: 50px;
    width: 150px;
    text-align: center;
    position: relative;
    margin-left: 44%;
    margin-top: 20%;
}

#playbutton:hover {
    background-color: skyblue;
}

#playbutton:active {
    border: 2px dashed red;
}

img {
    overflow: clip;
    background-color: orange;
}

img:hover {
    border-style: dotted;
    height: 250px;
}