*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.carousel>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

.diapo0 {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    margin-left: 100px;
    transform: translateY(-50%);
    padding: 0 .5rem;
    opacity: 0.8;
    color: white;
    top: 20%;
}

.diapo1 {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    margin-left: 100px;
    transform: translateY(-50%);
    padding: 0 .5rem;
    opacity: 0.8;
    color: white;
    top: 50%;
}

.container1 {
    display: grid;
    justify-content: center;
    gap: 10px;
}

.auteur {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 10px;
}

.bio1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-right: 100px;
}

.bio2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-right: 100px;
}

p {
    border-radius: 10px 10px 0px;
    padding: 30px;
    text-align: center;
    background-color: black;
    margin-left: 350px;
    margin-right: 100px;
    color: white;
}

a:hover {
    color: rgb(0, 157, 255)
}

a {
    color: red;
    font-size: 40px;
    text-align: center;
    margin-left: 500px;
}

.diapo2 {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    margin-left: 100px;
    transform: translateY(-50%);
    padding: 0 .5rem;
    opacity: 0.8;
    color: white;
    top: 60%;
}

.diapo3 {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    transform: translateY(-50%);
    padding: 0 .5rem;
    opacity: 0.8;
    color: white;
    top: 50%;
}

.container3 {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-direction: column;
    margin-right: 200px;
}

h4 {
    padding-top: 10px;
    padding-left: 40px;
    font-size: 60px;
    background-color: none;
    margin-bottom: 10px;
}

.garde {
    margin-left: 100px;
    padding-top: 0px;
    font-size: 30px;
    background-color: none;
    margin-bottom: 100px;
}